/* General Styles */
body {
    margin: 0;
    background-color: rgb(255, 245, 233);
}

/* Nav Styles */
nav {
    background-color: rgb(81, 124, 100);
    border: 5px solid rgb(61, 43, 18);
    display: flex;
    justify-content: space-between;
}

nav p, nav a {
    color: rgb(255, 249, 242);
}

nav a:hover {
    color: rgb(61, 43, 18);
}

/* Footer Styles */
footer {
    background-color: #618566;
    border: 5px dotted;
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0;
    width: 100%;
}

footer a {
    color: rgb(255, 249, 242);
}

footer a:hover {
    color: rgb(61, 43, 18);
}

/* Splash Section */
.splash h1 {
    font-family: "Abril Fatface", "Tenor Sans", serif;
    font-size: 40px;
    color: rgb(61, 43, 18);
    text-align: center;
}

.splash img {
    display: block;
    margin: auto;
    border: 2px solid rgb(61, 43, 18);
    border-radius: 100%;
}

.splash p {
    text-align: center;
}

/* Horizontal Rules */
hr {
    border: 2px dashed rgb(23, 23, 23);
}

/* Sections */

/* Section Headings */
section h2 {
    font-family: "DM Serif Display", "IBM Plex Serif", serif;
    color: rgb(25, 66, 50);
    text-align: center;
    font-size: 30px;
}

.edu {
    text-align: center;
}

/* Paragraph Styles */
section p {
    font-size: 18px;
}

/* link styles */
section a {
    color: rgb(76, 121, 93);
    text-decoration: none;
}
section a:hover {
    color: rgb(26, 42, 32);
    text-decoration: underline;
}

/* List Styles */
ul {
    margin-left: 30%;
}

dl {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
dl dt{
    grid-column-start: 2;
    grid-column-end: 3;
}
dl dd{
    grid-column-start: 3;
    grid-column-end: 4;
}

/* Project Section */
.three-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: rgb(241, 223, 202);
    margin: 5%;
    ul{
        margin: 5%;
    }
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card h3 {
    text-align: center;
}

/* Contact Page Styles */
.one-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    flex-direction: column;
    font-family: "DM Serif Display", "IBM Plex Serif", serif;
    font-size: 20px;
    gap: 10px;
}

form input, form textarea {
    background-color: rgb(233, 215, 195);
}

form input:focus, form textarea:focus {
    background-color: rgb(255, 249, 242);
}

form button {
    background-color: rgb(61, 43, 18);
    color: rgb(255, 249, 242);
}

form button:hover {
    background-color: rgb(255, 249, 242);
    color: rgb(61, 43, 18);
}

.contact h1{
    font-family: "Abril Fatface", "Tenor Sans", serif;
}

.c-foot {
    position: fixed;
    width: 100%;
    bottom: 0;
}